.titulo {
	text-align: center; 
	font-size: 22px; 
	background: #B0C4DE;   
	padding: 20px; 
	
}

.para-quem {
	width: 100%;
	margin: 0 auto;
	padding: 50px 0; 
	background: #B0C4DE;  

}

.para-quem li { 
	list-style-type: none;
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px; 
	background-color: #FFf4D9;	
}


#desbravadores-imagem {
	width: 100%;
}

#texto-desbravadores {
	display: inline-block;
	text-align: justify;
	width: 100%;
	margin-right: 15%;
	font-size: 22px;
	padding: 39px 0;  
}

#quem-trabalha-imagem {
	width: 100%;
}

#texto-quem-trabalha {
	display: inline-block;
	text-align: justify;
	width: 100%;
	margin-right: 15%;
	font-size: 22px;
	padding: 13px 0;
}

#designer-fotografos {
	width: 100%;
}

#texto-designer-fotografos {
	display: inline-block;
	text-align: justify;
	width: 100%;
	margin-right: 15%;
	font-size: 22px;
}