h2 {
    font-size: 30px;   
    font-weight: bold;  
    padding: 30px;  
}
    


#Saiba-mais{
    text-align: center;
    background: #B0C4DE;  
    font-size: 27px;
}

.imagemFundo{
    width: 100%;
    padding: 0 2%;
    height: 680px;
    background-image: url("../imagens/imagemPhotoshop2.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    text-align: center;
    position: relative;
    width:100%; 
}

.imagemFundo > center{
    height: 100%;
}


form {
    padding: 20px;
    width: 500px;
    height: 580px;
    position: relative;
    top: 30px;
    background-color: white;
    border-width: 12px;
    border-color: black;
    border-style: solid;
    background-color: #FFE9B5;
    background-clip: padding-box;
    margin-left: 20px;
    margin: 0;
    display: inline-block;
}

form label, form h2 {
    display: inline-block;
    width: 60%;
    color: black;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: left;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.input-padrao {
    display: block;
    padding: 10px 25px;
    width: 50%;
    margin: 0 auto;
}

.checkbox {
    margin: 20px 0;
}

.enviar{
    width: 250px;
    padding: 15px 0;
    background: #EBCE8D;
    font-weight:  bold;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s background;
    display: inline-block;
}

.enviar:hover{
    background: #FFA500;
    
}