.titulo {
	text-align: center;
}

.para-quem {
	width: 100%;
	margin: 0 auto;
	padding: 50px 0;
}

.para-quem li {
	list-style-type: none;
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

#desbravadores-imagem {
	width: 100%;
}

#texto-desbravadores {
	display: inline-block;
	text-align: justify;
	width: 100%;
	margin-right: 15%;
	font-size: 22px;
	padding: 39px 0;

}