.form {

    padding: 20px;
    width: 400px;
    height: calc(100% + 30px);
    float: right;
    position: relative;
    top: -15px;
    background-color: white;
    border-width: 12px;
    border-color: gray;
    border-style: solid;
    background-color: white;
    background-clip: padding-box;

}

.form h2{
    font-weight: normal;
    color: thistle;
    font-size: 21px;
}

.input-container{
    margin-top: 20px;
}

.input-container span{
    display: inline-block;
    width: 100%;
    color: cornsilk;
    font-size: 17px;
    margin: 20px 0;
}

.input-container input[type=text]{
    margin-top: 8px;
    width: 344px;
    height: 55px;
    padding: 8px 10px 8px 10px;
    border: 1px solid;
}